
body{
	height: 100vh;
    background-color:#F5F6F7 !important;
    min-width: 80%;
}
.bodycontainer{
    display: flex;
    flex:center;
    margin-left: 3cm;
    margin-right: 3cm;
}
@media screen and (max-width:700px)
{
.bodycontainer{
margin:0px;
    }
}
.mcontainer{
    display: grid;
    font-size: 20px;
    width: 100%;
    max-width: 1400px;
    text-align: center;
    margin: 0px auto;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 4cm 15cm  6cm;
    gap: 20px;
}

.title{
    align-self: flex-start;
    justify-items: flex-start;
}


.hr{
    height: 2px;
    background-color: #e5e5e5;
    border: none;
    margin: 20px 0;
}
.header2 {
    grid-column: 1/-1;
    padding: 20px;
    border-radius: 30px;
    margin: 6px;
    font-size: 0.63cm;
    font-family: sepid;
    color: white;
    direction: rtl;
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
    
    
    
}
.button{
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-top: 15 px;



}
.button> a{
    font-size: 17px;
    color: white;
}

@font-face {
    font-family: sepid;
    src: url(../fonts/B\ Koodak\ Bold_YasDL.com.ttf);
}

.mcontent{
    grid-column: 1/13;
    grid-row: 2;
    clear: both;
}


.mfooter{
    min-width: 300px;
    grid-column: 1/-1;
    grid-row: 3;
    padding: 30px;
    text-align: center;
    background: #fff;
    border-top: 1px solid #DFE1E6;
    font-family: sepid ;
    flex-wrap: wrap;
    font-size:20px;
    clear: both;
    display: flex;
    overflow: hidden;
    flood-opacity: 1;
    
    
}
.text{
    flex: 1;
    align-self: center;
    min-width: 200px;
}
.map{
    width: 80%;
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner{
    border-radius: 50px ;

}
.mamad1{
    border-top-left-radius: 56px;
    border-bottom-left-radius: 56px;
}

.mamad2{
    border-top-right-radius: 56px;
    border-bottom-right-radius: 56px;
}
.register_button {
    margin-left: 10px;
    border-radius: 10px;
    padding: 1px; 
    font-family: sepid;
}

.panel_button {
    margin-left: 10px;
    border-radius: 10px;
    padding: 1px;
    font-family: sepid;
}
.home_button {
    margin-left: 10px;
    border-radius: 10px;
    padding: 1px;
    font-family: sepid; 
}

.mslider{
    grid-column: 1/13;
    grid-row: 2;
    margin:0px 10px;    

}
a{
    text-decoration: none;
}

